<div class="ohmDetailsBox">

    <div class="ohmDetailsBoxChild">

        <h3>Ohm info:</h3>

        <table >

            <tr>
                <td class="titleInTableRow">Tracking Id</td>
                <td>{{ ohmData.trackingId }}</td>
            </tr>
    
            <tr>
                <td class="titleInTableRow">Client Name</td>
                <td>{{ ohmData.client.name }}</td>
            </tr>
    
            <tr>
                <td class="titleInTableRow">Client Address</td>
                <td>{{ ohmData.client.address }}</td>
            </tr>
    
            <tr>
                <td class="titleInTableRow">Volts</td>
                <td>{{ ohmData.description.volts }}</td>
            </tr>
    
            <tr>
                <td class="titleInTableRow">Amperes</td>
                <td>{{ ohmData.description.amperes }}</td>
            </tr>
    
        </table>
    </div>
    
    <div class="ohmDetailsBoxChild">

        <h3>Comment:</h3>

        <p>{{ ohmData.comment }}</p>

    </div>

    <div class="ohmDetailsBoxChild">

        <h3>History:</h3>

        <ul class="statusHistoryOverview">
            <li ng-repeat="status in ohmData.history">{{ status.state }}</li>
        </ul>

        <p ng-class="{ hidden: ohmData.history[ohmData.history.length-1].state !== 'REFUSED' }" class="reasonRefused">Reason refused: {{ ohmData.history[ohmData.history.length-1].reasonDecline }}</p>

    </div>

    <div class="ohmDetailsBoxChild" ng-class="{ hidden: ohmData.history[ohmData.history.length-1].state !== 'IN_DELIVERY' }">

        <h3>Accept or decline delivery:</h3>

        <form ng-submit="updateStatus()" class="acceptOrDeclineForm">

            <div class="radioButtonsStatusUpdate" >
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="accepted" ng-model="acceptedOrDeclined" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Accept
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="declined" ng-model="acceptedOrDeclined">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Decline
                    </label>
                  </div>
            </div>
            

            <input type="text" class="inputDecline" placeholder="Fill in reason for decline" ng-class="{ hidden: acceptedOrDeclined !== 'declined' }" ng-model="declineMessage">

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>

</div>